.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    @extend %SFProDisplay-Bold;
  }
}

.menu {
  &__item {
    display: inline-block;
  }
  &__item + .menu__item {
    padding-left: 50px;
  }
}

.menu__btn {
  display: none;
}

.header {
  &__box {
    display: flex;
  }
  &__address {
    margin-right: 60px;
    width: 265px; //что бы не сломалась верстка
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/location.svg');
      width: 30px;
      height: 30px;
      top: -10px;
      left: 0;
    }
  }
  &__bottom {
    margin-bottom: 80px;
  }
}

.user {
  &__list {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 10px;
    }
  }
}

.basket {
  position: relative;
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1c62cd;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    @extend %SFProDisplay-Medium;
    text-align: center;
    left: 25px;
    top: 10px;
  }
}

.menu-categories {
  min-height: 53px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f4;

  &__link {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    transition: all 0.3s;
    padding: 15px 0 14px;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      left: auto;
      background-color: #1c62cd;
      height: 3px;
      bottom: -2px;
      transform: all 0.3s;
      right: 0;
    }

    &:hover {
      color: #000;
    }

    &:hover::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}

.menu-mobile {
  width: 243px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transform: translateX(-500%);
  transition: all 0.3s;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  &__list--active {
    transform: translateX(0);
  }
  &__item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__link {
    display: block;
    padding-top: 36px;
    padding-left: 53px;
  }
  &__img {
    position: absolute;
    left: 10px;
    bottom: 0;
  }
}
.menu-line__wrapper {
  display: none;
}
